.page_not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: #0e141e;
}

img {
  height: 300px;
}

a {
  text-decoration: none;
  color: royalblue;
}
